//// primary color

$primary-100:#258AFF;

// secondry Color
$secondry-100: #00485E;
$secondry-200 : #403EB7;
$secondry-300 : #3A3A49;
$secondry-400 : #1D293F;
$secondry-500 :#A3A3AA;


// Black & White
$black: #000000;
$white: #ffffff;


//Shadows

//Font-Sizes
$size-xx-small: 14px;
$size-x-small: 15px;
$size-small: 16px;
$size-regular: 18px;
$size-medium: 20px;
$size-larg: 24px;
$size-x-larg: 32px;
$size-xx-larg: 45px;



// Breakpoint
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;
